* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   }
body{
    width: 100%
}

.container{
    width: 80%;
    margin: 0 auto;
}

.site-logo{
    height: 30px;
    width: 90px;
    display: inline-block;
    background: url(../img6/MoGo.png) no-repeat;
    background-size: contain;
}
.page-nav{
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}
.site-navigation {
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-between;

}


.site-navigation a {
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    color: #95e1d3;
    text-transform: uppercase;
    cursor: pointer;
}

.site-navigation a:after {
    margin-top: 10px;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #f38181;
    transition: width .3s ease-in-out;
}

.site-navigation a:hover:after,
.site-navigation a:focus:after {
    width: 100%;
}

.site-navigation a:hover{
    color: #f38181;
}

.section-1{
    margin-top: 80px;
    height: 100px;
}
.headline{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 24px;

}

h1{
    font-size: 30px;
}

.headline h1:after {
    position: absolute;
    left: 48%;
    top: 100px;
    content: "";
    text-align: center;
    height: 2px;
    width: 60px;
    background-color: #f38181;
}

.h2-text{
    padding-bottom: 10px;
}

.list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.img-icon-alarm{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img6/ALARM.png) no-repeat;
    background-size: contain;
}

.img-icon-seo{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img6/seo.png) no-repeat;
    background-size: contain;
}
.img-icon-creativity{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img6/creativity.png) no-repeat;
    background-size: contain;
}
.img-icon-design{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img6/design.png) no-repeat;
    background-size: contain;
}
.img-icon-home{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img/home.png) no-repeat;
    background-size: contain;
}
.img-icon-image{
    top: 34px;
    height: 30px;
    position: relative;
    right: 50px;
    background: url(../img6/image.png) no-repeat;
    background-size: contain;
}

.h3-list-item{
padding-bottom: 20px;
text-transform: uppercase;
}

.p-list-item{
    color: #b3b3b3;
}

.list-card{
    width: 330px;
    display: flex;
    flex-direction: column;
}

.section-3{
    margin-top: 100px;
}

.text-section-3{
margin-top: 80px; 
text-align: center;
}

.section-4{
    margin-top: 100px;
}
.img-card-1{
    display: block;
    height: 470px;
    width: 390px;
    background: url(../img6/card1.png) no-repeat;
    background-size: contain;

}
.img-card-2{
    display: block;
    height: 470px;
    width: 390px;
    background: url(../img6/card2.png) no-repeat;
    background-size: contain;

}
.img-card-3{
    display: block;
    height: 470px;
    width: 380px;
    background: url(../img6/card3.png) no-repeat;
    background-size: contain;

}

.h3-card-name{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.h4-card-status{
    font-style: italic;
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.cards{
    display: flex;
    justify-content: space-around;
    
}


.our-team{
    text-transform: uppercase;
}
.services-text{
    text-transform: uppercase;
}

.icons{
    
    height: 470px;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.icon-facebook{
    height: 56px;
    width: 56px;
    background: url(../img6/facebook.png) no-repeat;
    background-position: center;
    background-color: #fce38a;
}

.icon-instagram{
    height: 56px;
    width: 56px;
    background: url(../img6/instagram.png) no-repeat;
    background-position: center;
    background-color: #fce38a;
}

.icon-pinterest{
    height: 56px;
    width: 56px;
    background: url(../img6/pinterest.png) no-repeat;
    background-position: center;
    background-color: #fce38a;
}

.icon-twitter{
    height: 56px;
    width: 56px;
    background: url(../img6/twitter.png) no-repeat;
    background-position: center;
    background-color: #fce38a;
}
.icons{
 opacity: 0;
 background: linear-gradient( 90deg, rgba(252,227,138, 0.8) 0%, rgba(243,129,129, 0.8) 100%);
 transition: 1s;
}
.icons:hover{
    height: 480px;
    position: relative;
    bottom: 10px;
    right: 10px;
    background: linear-gradient( 90deg, rgba(252,227,138, 0.8) 0%, rgba(243,129,129, 0.8) 100%);
    opacity: 1;
    transition: 2s;
   

}

.icon-facebook:hover{
    background-color: #95e1d3;
    transition: 2s;
}

.icon-instagram:hover{
    background-color: #95e1d3;
    transition: 2s;
}

.icon-pinterest:hover{
    background-color: #95e1d3;
    transition: 2s;
}

.icon-twitter:hover{
    background-color: #95e1d3;
    transition: 2s;
}

.img-card-1:hover{
    width: 380px;
    border-right: 10px solid #95e1d3;
    border-bottom: 10px solid #95e1d3;
    transition: 1s;
}

.img-card-2:hover{
    width: 380px;
    border-right: 10px solid #95e1d3;
    border-bottom: 10px solid #95e1d3;
    transition: 1s;
}

.img-card-3:hover{
    width: 380px;
    border-right: 10px solid #95e1d3;
    border-bottom: 10px solid #95e1d3;
    transition: 1s;
}

.Layer_16 {
    background-image: url("Layer 16.png");
    position: absolute;
    left: 242px;
    top: 958px;
    width: 875px;
    height: 492px;
    z-index: 20;
    
  }



  .form {
      position: relative;
      bottom: 10px;
      background-color: #95e1d3;
    cursor:pointer;
    height:32px;
    width:140px;
    text-decoration: none;
  }



.input-form{
    position: relative;
    bottom: 10px;
    left: 5px;
border: 1px solid gray;
    width: 140px;
    height: 30px;
    border-right: 0px;
    opacity: 0.7;

}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
  .footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 40px;
        margin-top: 80px;
        height: 60px;
        border-top: solid #95e1d3;
    }

    input{
        border: 0;
    }

    .colortext{
        color: red;
    }
.text-footer{
    font-size: 20px;
}