* {
    margin: 0;
    padding: 0;
   }
body{
    width: 100%
}

.container{
    width: 61%;
    margin: 0 auto;
    /*background: grey;*/
}

.site-logo{
    height: 30px;
    width: 90px;
    display: inline-block;
    background: url(../img7/logo.png) no-repeat;
    background-size: contain;
}
.page-nav{
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
}
.site-navigation {
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-between;
    font-family: 'Montserrat Bold';

}


.site-navigation a {
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    cursor: pointer;
}
.site-navigation :hover{
color: #fed136;
}
.title{
    display: flex;
    min-height: 215px;
    width: 61%;
    margin: 0 auto;
    /*background: brown;*/
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.services-cards{
    /*display: flex;*/
    min-height: 310px;
    width: 61%;
    margin: 0 auto;
    /*background: greenyellow;*/
    /*justify-content: space-between;*/
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.service-name{
    padding-top: 20px;
    font-family: 'Montserrat Bold';

}
.description {
    font-size: 14px;
    width: 275px;
    padding-top: 20px;
    font-family: 'Roboto Slab';


    /*display: flex;
    width: 275 px;
    height: 190 px;
    background: blueviolet;*/
}
.contact{
    height: 700px;
    background: url(../img7/Map-Image.png) no-repeat center center fixed;
    background-size: cover;
}
.title-services{
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat Bold';
}
.sub-title{
    color: #777777; 
    font-style: italic;
}
.title-services2{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat Bold';
}
.sub-title2{
    color: #777777;
    font-style: italic;
}

form, input {
    font-size: 20px;
  }
  /*.column-reg{
      height: 215px;
      width: 945px;
      display: flex;
      flex-wrap: column wrap;
  }*/
  
  input { 
    display: block;
    float: right;
    width: 460px;
    height: 50px;
    margin: 10px;
    line-height: 30px;
    padding: 0;
    border-radius: 6px;
    text-indent: 2px;
    font-family: 'Montserrat Bold';
  }
  textarea {
      display: block;
      height:200px ;
      width:460px ;
      margin: 10px;
      line-height: 30px;
      padding: 0;
      text-indent: 6px;
      /*outline: none;*/
      border-radius: 6 px;
      font-family: 'Montserrat Bold';
  }
  
  input[type="submit"] {
    display: block;
    height: 68px;
    width: 240px;
    background-color: #fed136;
    color: #ffffff;
    float: left;
    font-family: 'Montserrat Bold';
  }
  
  
  .registration {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Bold'
  }
  
  .wrapper {
    width: 1000px;
    height: 250px;
    font-family: 'Montserrat Bold';
    
  }
  .reg-raws{
      display: flex;
      flex-flow: column wrap;
      height: 245px;
      font-family: 'Montserrat Bold';

  }
  .button{
      display: flex;
      justify-content: center;
  }
    
  /*textarea  { 
      float: right; 
    }*/
/*@font-face {
        src: local(../..//../Fonts/montserrat-v14-latin-regular.woff),

}*/

input [type="text"]:invalid:not(:placeholder-shown) {outline-color: red;}
input[type="text"]:valid:not(:placeholder-shown) {outline-color: green;}
textarea:invalid:not(:placeholder-shown) {outline-color: red}
textarea:valid:not(:placeholder-shown) {outline-color:green}
input [type="email"]:invalid:not(:placeholder-shown) {outline-color: red;}
input[type="email"]:valid:not(:placeholder-shown) {outline-color: green;}

@font-face{
    src: url(../fonts7/montserrat-v14-latin-regular.woff);
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 400;
}
@font-face{
  src: url(../fonts7/roboto-slab-v9-latin-regular.woff);
  font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
}
