* {
    margin: 0;
    padding: 0;
   }
body{
    width: 100%
}

.container{
    width: 61%;
    margin: 0 auto;
    /*background: grey;*/
}

.site-logo{
    height: 30px;
    width: 90px;
    display: inline-block;
    background: url(../img7/logo.png) no-repeat;
    background-size: contain;
}
.page-nav{
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
}
.site-navigation {
    display: flex;
    width: 500px;
    list-style: none;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}


.site-navigation a {
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    cursor: pointer;
}
.site-navigation :hover{
color: #fed136;
}
.title{
    display: flex;
    min-height: 215px;
    width: 61%;
    margin: 0 auto;
    /*background: brown;*/
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.services-cards{
    /*display: flex;*/
    min-height: 310px;
    width: 61%;
    margin: 0 auto;
    /*background: greenyellow;*/
    /*justify-content: space-between;*/
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.service-name{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}
.description {
    font-size: 14px;
    width: 275px;
    padding-top: 20px;
    font-family: 'Roboto Slab';


    /*display: flex;
    width: 275 px;
    height: 190 px;
    background: blueviolet;*/
}
.contact{
    height: 700px;
    background: url(../img7/Map-Image.png) no-repeat center center fixed;
    background-size: cover;
}
.title-services{
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.sub-title{
    color: #777777; 
    font-style: italic;
}
.title-services2{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.sub-title2{
    color: #777777;
    font-style: italic;
}

form, input {
    font-size: 20px;
  }
  /*.column-reg{
      height: 215px;
      width: 945px;
      display: flex;
      flex-wrap: column wrap;
  }*/
  
  input { 
    height: 50px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    box-sizing: border-box;
    margin: 14px 0;
    width: 455px;
    display: block;
    outline: 4px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.1s;
    border-radius: 8px;
    border: 0;
  }
  textarea {
      height:205px ;
      line-height: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;

      box-sizing: border-box;
      margin: 14px 0;
      width: 455px;
      display: block;
      outline: 4px solid transparent;
      outline-offset: -2px;
      transition: outline-color 0.1s;
      border-radius: 8px;
      border: 0;
  }
  
  input[type="submit"] {
    height: 68px;
    width: 240px;
    background-color: #fed136;
    color: #ffffff;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    
    box-sizing: border-box;
    margin: 14px 0;
    display: block;
    outline: 4px solid transparent;
    outline-offset: -2px;
    transition: outline-color 0.1s;
    padding-left: 0 px;
  }
  
  
  .registration {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .wrapper {
    width: 1000px;
    height: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
  }
  .reg-raws{
      display: flex;
      flex-flow: column wrap;
      height: 245px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;

  }
  .button{
      display: flex;
      justify-content: center;
  }
    
  /*textarea  { 
      float: right; 
    }*/
/*@font-face {
        src: local(../..//../Fonts/montserrat-v14-latin-regular.woff),

}*/

input[type="email"]:focus:invalid,
textarea[name="body"]:focus:invalid,
input[type="text"]:focus:invalid{
outline-color: red;
transition: outline-color 5s;
}

input[type="email"]:focus:valid,
textarea[name="body"]:focus:valid,
input[type="text"]:focus:valid{
outline-color: green;
transition: outline-color .4s;
}

input[name="name"] {
    padding-left: 1rem;
}
input[name="mail"] {
    padding-left: 1rem;
}
input[name="subject"] {
padding-left: 1rem;
}      
textarea{
    padding-left: 1rem;
}    
input::placeholder{
    font-size: 14px;
    }
textarea::placeholder{
    font-size: 14px;
    }
